.App {
  text-align: center;
}

.red {
  color: red;
}

.button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgreen;
  color: black;
}

.bold {
  font-weight: bold;
}